{% extends "main.html" %} {% block header %}
<title>Rrawl - 垂直搜索引擎</title>
<link rel="stylesheet" href="/statics/css/index.css" />
{% endblock %} {% block content %}
<div style="background-color: #ab0000; height: 10px;"></div>

<div class="mdui-container">



<!--标题界面-->
  <center>
    <div
      class="mdui-typo-display-4-opacity"
      style="margin-top: 12%; margin-bottom: 3%; background-color: #ffdc00; color:#ab0000;"
    >
      Rrawl Searcher
    </div>
      <div
        class="mdui-typo-display-1-opacity"
        style="margin-top: 3%; margin-bottom: 3%; background-color: #ffdc00; color:#ab0000;bottom: 0; left: 0;"
      >
        Version：0.1（Normal Search）
      </div>
  </center>
  

  
  <!--数据库内的普通搜索-->
  <form action="/search">
    <div class="mdui-textfield mdui-textfield-floating-label">
      <label class="mdui-center mdui-textfield-label" style="width: 50%">Search</label>
      <input
        class="mdui-center mdui-textfield-input"
        name="q"
        style="width: 50%"
      />
    </div>

    <div style="text-align:center;">
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit" style="margin-top: auto;">搜索</button>
    </div>
  </form>

  

  <form action="/" method="POST">
    <input type="hidden" name="active" value="true">
    <hr>
    <div style="text-align:center;">
      <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit" style="margin-top:auto" name="active" onclick="alert('Crawl is activited!')">爬虫启动</button>
    </div>
  </form>

  <form action="/" method="POST">
    <input type="hidden" name="indexandcompress" value="true">
    <hr>
    <div style="text-align:center;">
      <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit" style="margin-top:auto" name="indexandcompress" onclick="alert('Index and Compress')">启动倒排索引以及数据压缩</button>
    </div>
  </form>


{% endblock %}

